/* Nasa Color Scheme
Blue: #0b3d91
Red: #fc3d21 */

* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #000, navy, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  color: #fff;
}

.jumbotron {
  background-color: #113D91;
  color: #F83D21;
  text-align: center;
  border-radius: 50%;
  border-color: #F83D21;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 30px rgb(0, 255, 221));
}

.jumbotron h1 {
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.container {
  text-align: center;
}

label {
  font-weight: 600;
}

#btn {
  margin: 10px;
  padding: 20px 20px;
  border-radius: 50%;
  background: red;
}
#btn:hover {
  filter: invert(1) drop-shadow(0 0 20px rgb(195, 255, 0));
  
}
#btn:active {
  background: rgb(0, 236, 0);
}

.show-img img {
}
.pic {
  margin-top: 45px;
  filter: drop-shadow(0 0 30px rgb(0, 255, 221));
}